.weatherInfo {
    height: 3rem;
    border-radius: 1rem;
    height: 3.5rem;

    &__atmos {
        background-color: rgba(146, 184, 255, .3);
        border-radius: 1rem;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

    &__humidity {
        background-color: rgba(174, 206, 255, .5);
        border-radius: 1rem;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

    &__visibility {
        background-color: rgba(199, 228, 255, .3);
        border-radius: 1rem;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

    &__wind {
        background-color: rgba(178, 154, 231, .3);
        border-radius: 1rem;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

    &__cloudiness {
        background-color: rgba(165, 134, 227, .3);
        border-radius: 1rem;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

    &__rain {
        background-color: rgba(147, 112, 220, .3);
        border-radius: 1rem;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }

    &__title {
        color: white;
        margin: 0;
    }

    &__data {
        color: white;
        font-family: 'Lato';
        margin: 0;
    }
}